@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-img {
  width: 100%;
}

.btn {
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: whitesmoke;
  color: red;
  cursor: pointer;
}


/* === HEADER === */
#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 15%;
  z-index: 5;
}

#header:hover {
  box-shadow: 3px 3px 30px 10px rgba(255, 0, 0, 0.5);
}

.parts {
  display: flex;
}

.part {
  margin: 0 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.part a:hover {
  color: red;
}

/* === HOME === */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 768px;
  background-image: url('../public/images/banner.png');
  z-index: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  z-index: 1;
}

.hl-top {
  font-size: 3rem;
}

.hl-mid {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.text-red {
  color: red;
}

.hl-bottom {
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.headline * {
  text-shadow: 0 0 4rem rgba(255, 0, 0, 1);
}

.hl-join {
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

/* === FEATURES === */
#features {
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
}

#features h2 {
  font-size: 3rem;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  text-align: center;
}

.fc-logo {
  margin-bottom: 3.5rem;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* === OFFER === */
#offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
  height: 768px;
  background-image: url('../public/images/offer.png');
  z-index: 0;
}

#offer * {
  text-shadow: 0 0 4rem rgba(255, 0, 0, 1);
}

#offer h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

#offer p {
  margin-bottom: 2rem;
}

.offer-join {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}

/* === ABOUT === */
#about {
  height: 768px;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
}

.about-img {
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0 5%;
  height: 400px;
}

.about-text h2 {
  font-size: 2.5rem;
  color: red;
  margin-bottom: 3rem;
}

.about-text p {
  margin-bottom: 5rem;
}

.about-readmore {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}

/* === FORM === */
#contact {
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30%;
}

#contact h2 {
  font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

.form * {
  height: 3rem;
  margin: 0.3rem 0;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(24, 23, 23);
  color: white;
  font-size: 1rem;
}

#contact .form textarea {
  height: 12rem;
}

.btn-form {
  background-color: red;
  font-weight: bold;
  transition: all ease-out 500ms;
}

.btn-form:hover {
  background-color: whitesmoke;
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  /* == HEADER ==  */
  #header {
    height: 3rem;
    padding: 0 5%;
  }

  .logo-img {
    scale: 0.7;
  }

  .parts {
    display: none;
  }

  /* == HOME == */
  #home {
    padding: 0 20%;
    background-position-x: center;
  }

  .headline{
    width: 90vw;
    flex-shrink: 0;
    padding-bottom: 100px;
  }

  .hl-top {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .hl-mid {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .hl-bottom {
    text-align: center;
    margin-bottom: 4rem;
  }

  /* == OFFER == */
  #offer {
    padding: 0 20%;
    text-align: center;
  }

  #offer h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  #offer p {
    margin-bottom: 2.5rem;
  }

  /* == ABOUT == */
  #about {
    flex-direction: column;
    width: 100%;
  }

  .about-left {
    width: 100%;
  }

  .about-text {
    width: 100%;
    padding: 0;
  }
}